@{
    ViewData["Title"] = "Calendario";
}

<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("Tips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("Juegos")'>Juegos</a>
        <a href='@Url.Action("Sonidos")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
        <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>
<div class="tips-container" style="min-width: 100vw;">
<h2>Guardá y organizá tus recordatorios acá.</h2>

<div class="month-selector">
    <select id="monthSelect" onchange="changeMonth()">
        <option value="0">Enero</option>
        <option value="1">Febrero</option>
        <option value="2">Marzo</option>
        <option value="3">Abril</option>
        <option value="4">Mayo</option>
        <option value="5">Junio</option>
        <option value="6">Julio</option>
        <option value="7">Agosto</option>
        <option value="8">Septiembre</option>
        <option value="9">Octubre</option>
        <option value="10">Noviembre</option>
        <option value="11">Diciembre</option>
    </select>
</div>

<div class="calendar-container" style="display: flex;">
        <div class="category-buttons">
            <button class="category-btn" style="background-color: #FF4D4D;">PRUEBAS</button>
            <button class="category-btn" style="background-color: #4D79FF;">TPS</button>
            <button class="category-btn" style="background-color: #B84DFF;">TAREAS</button>
            <button class="category-btn" style="background-color: #A84D7C;">EXCURSIONES</button>
            <button class="category-btn" style="background-color: #4DD2A8;">FERIADOS</button>
            <button class="category-btn" style="background-color: #FFD700;">+ ALARMAS</button>
        </div>

        <div id="calendar"></div>
    </div>
</div>

<script src="~/js/calendario.js"></script>
