@{
    ViewData["Title"] = "Calendario";
}

<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("ListaTips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("ListaJuegos")'>Juegos</a>
        <a href='@Url.Action("ListaMelodias")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
        <a href='@Url.Action("Perfil")'>Perfil</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
        <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>

<div class="tips-container" style="min-width: 100vw;">
    <h2>Guardá y organizá tus recordatorios acá.</h2>

    <div class="calendario" id="calendar">
    </div>

    <div class="event-form" style="display: none;">
        <h3>Agregar Evento</h3>
        <form asp-action="AgregarEvento" method="post">
            <input type="hidden" id="Fecha" name="Fecha">
            <label for="Titulo">Título:</label>
            <input type="text" name="Titulo" required>
            <label for="Descripcion">Descripción:</label>
            <textarea name="Descripcion"></textarea>
            <button type="submit" class="btn btn-primary">Guardar Evento</button>
        </form>
    </div>

    <div id="eventModal" style="display: none;">
        <h3>Eventos del Día</h3>
        <div id="eventList"></div>
        <button onclick="cerrarModal()">Cerrar</button>
    </div>
</div>

<script src="~/js/calendario.js"></script>
