@{
    ViewData["Title"] = "Mi tablero";
}

<header class="header">
    <div class="logo">
         <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("ListaTips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("ListaJuegos")'>Juegos</a>
        <a href='@Url.Action("ListaMelodias")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
        <a href='@Url.Action("Perfil")'>Perfil</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
        <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>

<div class="container" style="min-width: 100vw;">
    <h1>MI TABLERO</h1>
    <h3>¿Cómo te sentís hoy?</h3>
        
    <div class="sentimientos">
        @if (ViewBag.Sentimientos != null && ViewBag.Sentimientos.Count > 0)
        {
            <form method="post" action='@Url.Action("GuardarSentimientosPorUsuario", "Home")'>
                <ul class="listaImagenes d-flex">
                    @foreach (Sentimientos sentimiento in ViewBag.Sentimientos) 
                    {
                        <li>
                            <label>
                                <input type="checkbox" name="Id_sentimiento" value="@sentimiento.Id_sentimiento" />
                                <img src="@sentimiento.foto" alt="@sentimiento.nombre" />
                                <p>@sentimiento.nombre</p>
                            </label>
                        </li>
                    }
                </ul>
                @if (ViewBag.Usuario != null) {
                    <input type="hidden" name="Id_usuario" value="@ViewBag.Usuario.Id_usuario" />
                    <button type="submit" class="btn btn-primary">Guardar Selección</button>
                } else {
                    <p>Para guardar tu sentimiento, logueate</p>
                }
            </form>
        }
        else
        {
            <p>No hay sentimientos disponibles para seleccionar.</p>
        }
    </div>
    
    <div class="row">
        <div class="recordatorio">
            <h4>RECORDATORIO</h4>
            <ul>
                <li>Faltan 4 días para el tp de EFSI. ¡A estudiar!</li>
                <li>Faltan 6 días para la prueba de Educación Judía. ¡A estudiar!</li>
                <li>Faltan 10 días para la prueba de Inglés. ¡A estudiar!</li>
            </ul>
        </div>
        <div class="tareas">
            <h4>TPS/Tareas</h4>
            <ul>
                <li><span class="tachado">Prueba física 14/10</span></li>
                <li><input type="checkbox"> Tp EFSI 19/10</li>
                <li><input type="checkbox"> Prueba Judía 21/10</li>
                <li><input type="checkbox"> Prueba Inglés 25/10</li>
            </ul>
        </div>
    </div>
    <div class="timer-bigger-container">
        <div class="timer-container">
            <h1>Temporizador</h1>
            <div class="input-container">
                <label for="minutes">Minutos:</label>
                <input type="number" id="minutes" min="0" placeholder="0">
                <label for="seconds">Segundos:</label>
                <input type="number" id="seconds" min="0" max="59" placeholder="0">
            </div>
            <button id="startButton">Iniciar</button>
            <div id="countdownDisplay">00:00</div>
        </div>
        
    </div>

    <h4>¿Qué materia querés estudiar?</h4>
    <input class="input-materia" type="text" placeholder="Escribí acá">
    <button>Enviar</button>
</div>

<script src="~/js/contador.js"></script>
