@{
    ViewData["Title"] = "Juegos";
}
<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("Tips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("Juegos")'>Juegos</a>
        <a href='@Url.Action("Sonidos")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
        <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>
<div class="tips-container" style="min-width: 100vw;">
<h2>Jugá alguno de estos juegos antes de estudiar.</h2>