@{
    ViewData["Title"] = "Juegos";
}
<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
            <img src="~/img/logo.png" alt="Logo">
        </a>
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("ListaTips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("ListaJuegos")'>Juegos</a>
        <a href='@Url.Action("ListaMelodias")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
        <a href='@Url.Action("Perfil")'>Perfil</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
            <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>

</header>
    
<div class="tips-container" style="min-width: 100vw;">
    <h1>Jugá alguno de estos juegos antes de estudiar.</h1>
    @if (ViewBag.Juegos != null && ViewBag.Juegos.Count > 0)
    {
        <ul class="listaImagenes">
            @foreach (Juegos juego in ViewBag.Juegos)
            {   
                <li>
                    <a href='@Url.Action("Jugar", new { idJuego = juego.id_juegos })'>
                        <img src="@juego.foto" alt="Imagen de @juego.titulo" />
                        <p class="text-dark">@juego.titulo</p>
                        <p class="text-dark">@juego.descripcion</p>
                        <button class="jugar-btn">Jugar</button>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-secondary text-center">No hay juegos disponibles.</p>
    }
</div>
