@{
    ViewData["Title"] = "Juegos";
}
<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("Tips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("Juegos")'>Juegos</a>
        <a href='@Url.Action("Sonidos")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
    </nav>
    
    
     @if (ViewBag.Paises.Count != 0)
    {
    <ul class="listaImagenes">
        @foreach (Pais pais in ViewBag.Paises)
        {
        <li><a href="@Url.Action("VerDetallePais", new { idPais = pais.IdPais })">
            <img src="@pais.Bandera" alt="Bandera de @pais.Nombre">
            <p>@pais.Nombre</p>
        </a></li>
        }
    </ul>
    }
    else
    {
    <p class="text-secondary text-center">No hay paises.</p>
    }
</div>