@{
    ViewData["Title"] = "Juegos";
}
<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
        <img src="~/img/logo.png" alt="Logo">
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("Tips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("Juegos")'>Juegos</a>
        <a href='@Url.Action("Sonidos")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
        <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>
<div class="tips-container" style="min-width: 100vw;">
<h2>Jugá alguno de estos juegos antes de estudiar.</h2>

<div class="games-container">
    <div class="game-card">
        <h3>Rompecabezas</h3>
        <img src="~/img/rompecabezas.avif" alt="Rompecabezas">
        <p>Encajá las piezas para formar una imagen.</p>
        <button>Jugar</button>
    </div>
    <div class="game-card">
        <h3>Sudoku</h3>
        <img src="~/img/sudoku.png" alt="Sudoku">
        <p>Descubrí donde va cada número sin repetir en columna, fila o cuadrado.</p>
        <button>Jugar</button>
    </div>
    
    <div class="game-card">
        <h3>Crucigrama</h3>
        <img src="~/img/crucigrama.png" alt="Crucigrama">
        <p>Encontrá todas las palabras cruzadas.</p>
        <button>Jugar</button>
    </div>

    <div class="game-card">
        <h3>Sopa de letras</h3>
        <img src="~/img/sopa.png" alt="Sopa de letras">
        <p>Encontrá todas las palabras ocultas.</p>
        <button>Jugar</button>
    </div>

    <div class="game-card">
        <h3>Diferencias</h3>
        <img src="~/img/diferencias.png" alt="Diferencias">
        <p>Encontrá todas las diferencias entre las imágenes.</p>
        <button>Jugar</button>
    </div>

    <div class="game-card">
        <h3>Memotest</h3>
        <img src="~/img/memotest.png" alt="Memotest">
        <p>Encontrá los pares de los distintos dibujos escondidos.</p>
        <button>Jugar</button>
        
    </div>
</div>
