@{
    ViewData["Title"] = "Sonidos";
}
<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
            <img src="~/img/logo.png" alt="Logo">
        </a>
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("Index")'>Tablero</a>
        <a href='@Url.Action("Tips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("ListaJuegos")'>Juegos</a>
        <a href='@Url.Action("ListaMelodias")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
            <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>

<main class="content" style="min-width: 100vw;">
    <h1>Hacé click para escuchar melodías mientras estudias.</h1>
    @if (ViewBag.Sonidos != null && ViewBag.Sonidos.Count > 0)
    {
        <ul class="listaImagenes">
            @foreach (Melodias sonido in ViewBag.Sonidos)
            {
                <li>
                    <a href="@sonido.sonido" target="_blank">
                        <img src="@sonido.foto" alt="Imagen de @sonido.titulo" />
                        <p>@sonido.titulo</p>
                        <button class="jugar-btn">Reproducir</button>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-secondary text-center">No hay melodías disponibles.</p>
    }
</main>
