@{
    ViewData["Title"] = "Tips";
}

<header class="header">
    <div class="logo">
        <a href='@Url.Action("Index")'>
            <img src="~/img/logo.png" alt="Logo">
        </a>
    </div>
    <nav class="nav-menu">
        <a href='@Url.Action("ListaSentimientos")'>Tablero</a>
        <a href='@Url.Action("ListaTips")'>Tips</a>
        <a href='@Url.Action("Calendario")'>Calendario</a>
        <a href='@Url.Action("ListaJuegos")'>Juegos</a>
        <a href='@Url.Action("ListaMelodias")'>Melodía</a>
        <a href="#">Foro</a>
        <a href="#">Progreso</a>
        <a href='@Url.Action("Perfil")'>Perfil</a>
    </nav>
    <div class="profile-icon">
        <a href='@Url.Action("InicioSesion")'>
            <img src="~/img/avatar.png" alt="Avatar de Usuario" class="avatar">
        </a>
    </div>
</header>

<div class="tips-container" style="min-width: 100vw;">
    <h2>Leé estos tips antes de estudiar.</h2>
    @if (ViewBag.Tips != null && ViewBag.Tips.Count > 0)
    {
        <ul class="listaImagenes">
            @foreach (Tips tip in ViewBag.Tips)
            {
                <li>
                    <p>@tip.descripcion</p>
                </li>
            }
        </ul>
    }
    else
    {
        <p class="text-secondary text-center">No hay tips disponibles.</p>
    }
</div>
